# Ignoriere alles
*

# Aber schau in Ordner hinein (wichtig!)
!*/

# Erlaube diese wichtigen Dateien im Hauptverzeichnis:
!Ricardos_TRACK_VIEWER.html
!.gitignore
!LICENSE
!README.md
!bild.png
!update.bat

# Erlaube explizit den Inhalt dieser Ordner:
!JS/**
!CSS/**